
@{
     Layout = "~/Views/Shared/_LayoutDefaultCustom.cshtml";
}
<div id="Main">
    <div style="width:auto; padding:10px; margin:10px 0px; border-radius:10px; line-height:25px; border:1px dashed #ff0000">
        <h2 style="color:#ff0000; margin: 15px 5px; text-align:center">
            <i class="fa fa-spinner" aria-hidden="true"></i>
            Đơn hàng của bạn đã được đặt thành công, chúng tôi sẽ liên hệ với bạn ngay sau khi nhận được đơn hàng. Xin cảm ơn !
        </h2>
     </div>
    </div>

