<div class="tearSideBar" >
    <div class="nvarSidebar" style="background:@Session["color"]">
        <i class="fa fa-th-list" aria-hidden="true"></i>
        danh mục tin tức
    </div>
    <div class="contentTearSidebar">
        <ul>
            <li>
                <a href="/2/tin-tuc" title="Tin tức">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Tin tức mới
                </a>
            </li>
            <li>
                <a href="/2/tu-van-ky-thuat" title="Tư vấn kỹ thuật">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Tư vấn kỹ thuật
                </a>
            </li>
            <li>
                <a href="/lien-he" title="Liên hệ">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Liên hệ
                </a>
            </li>
        </ul>
    </div>
</div>
